{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="mt-3 mb-3 container">
    <div class="row mb-4">
        <div class="col-sm-3" style="" >
            <center><img src="{{selected_product.image.url}}" alt="" width='100%' height='250em'></center>
        </div>

        <div class="col-sm-1"></div>

        <div class="col-sm-8 " style="">
            <h4 class="alert alert-warning m-0">Product Details</h4>
            <h5 style="font-weight: bold; text-align: justify;">
                <table class="table-borderless mt-3">
                    <tr><td class="pr-3 pl-3">Product Name:</td><td><small>{{selected_product.p_name}}</small></td></tr>
                    <tr><td colspan='6'><hr></td></tr>
                    <tr><td class="pr-3 pl-3">Category:</td><td colspan='4'><small>{{selected_product.category}}</small></td></tr>
                    <tr><td colspan='6'><hr></td></tr>
                    <tr>
                        <td class="pr-3 pl-3">Overall Rating:</td>
                        <td class="pr-3">
                            <small>
                                <span class="colored fa fa-star{% if avgRate.rate__avg < 1 %}-o empty {% endif %} "></span>
                                <span class="colored fa fa-star{% if avgRate.rate__avg == 1.5 %}-half {% elif avgRate.rate__avg < 2 %}-o empty {% endif %} "></span>
                                <span class="colored fa fa-star{% if avgRate.rate__avg == 2.5 %}-half {% elif avgRate.rate__avg < 3 %}-o empty {% endif %} "></span>
                                <span class="colored fa fa-star{% if avgRate.rate__avg == 3.5 %}-half {% elif avgRate.rate__avg < 4 %}-o empty {% endif %} "></span>
                                <span class="colored fa fa-star{% if avgRate.rate__avg == 4.5 %}-half {% elif avgRate.rate__avg < 5 %}-o empty {% endif %} "></span>
                                <!-- ({{ avgRate.rate__avg }}) -->
                            </small> 
                        </td>
                        <td class='pr-3'></td>
                        <td class='pr-3'>Review Count: </td>
                        <td><small>{{ selected_product.productReview.count }} review(s)</small></td></tr>
                    <tr><td colspan='6'><hr></td></tr>
                    <!-- <tr><td class="pr-3 pl-3">Description:</td><td><small>{{selected_product.description}}</small></td></tr> -->
                </table>
            </h5>

        </div>
    </div>
    <br>

    <ul class="nav nav-tabs" id="myTab" role="tablist" >
        <li  class="nav-item" role="presentation">
            <a class="nav-link" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="false">Details</a>
        </li>
        <li  class="nav-item" role="presentation">
            <a class="nav-link active" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="true">Reviews</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent" >
        <div class="tab-pane fade" id="details" role="tabpanel" aria-labelledby="details-tab">
            <h2>Product Description:</h2>
            <p>{{selected_product.description}}</p> 
        </div>

        <div class="tab-pane fade show active" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
            <div class="row">
                <div class="col-sm-12 pt-2" >
                    <div class="row pt-2">
                        <div class="col-sm-7"> 
                            <!-- <h4  class="text-dark" style="width:90%">Reviews</h4> -->
                            {% for review in selected_product.productReview %}
                            <div class="card p-2 mb-2" style="width:90%; background: #fbfbfb;">
                                <div style="justify-content:space-between; display: flex;">
                                    <small>
                                        <i class="fa fa-user"></i> {{review.user}} &nbsp;|&nbsp;
                                        <!-- rated: {{review.rate}}  -->
                                        <i class="fa fa-clock-o colored"></i> {{review.date_created}}
                                    </small> 
                                    <small style="justify-content:right; display: flex; color:rgb(138, 138, 138)">
                                        <span class="colored fa fa-star{% if review.rate < 1 %}-o empty {% endif %} "></span>
                                        <span class="colored fa fa-star{% if review.rate < 2 %}-o empty {% endif %} "></span>
                                        <span class="colored fa fa-star{% if review.rate < 3 %}-o empty {% endif %} "></span>
                                        <span class="colored fa fa-star{% if review.rate < 4 %}-o empty {% endif %} "></span>
                                        <span class="colored fa fa-star{% if review.rate < 5 %}-o empty {% endif %} "></span>
                                    </small>
                                </div><hr style="margin-top: 2px; margin-bottom: 5px;">
                                <p><span style="color: #888;font-style: italic; font:15px calibri;">{{review.review}}</span></p>
                            </div>
                            {% endfor %}
                            
                        </div>
        
                        <div class="col-sm-5">
                            <div class="container">
                                <form action="" method="post" class="form-group  ratingForm" style=''>
                                    {% csrf_token %}
                                    <h5 class="text-dark" style="font-weight: 600;">ADD YOUR REVIEW</h5>
                                    {% for message in messages %}
                                        <p class="alert alert-warning p-1"><i class='fa fa-warning'></i> {{ message }}</p>
                                        {{ review_form.errors }}
                                    {% endfor %}
                                    <input type="hidden" value="{{review_form.product.id}}" id="id_product" name="product"  class="form-control">
                                    <span class="form-group">
                                        <!-- <label for="name">Name</label><br> -->
                                        <input type="hidden" name="user" value="{{request.user}}"  id="id_user" class="form-control">
                                    </span>
                                    <span class="form-group">
                                        <!-- <label for="email">Email</label><br> -->
                                        <input type="hidden" name="user_email" id="id_user_email" value="{{ request.user.email}}"  class="form-control">
                                    </span>
                                    <div class="form-group">
                                        <div class="input-rating">
                                            <div class="stars table-bordered p-2 text-secondary" >
                                                Your Rating: &nbsp;&nbsp;
                                                <input class='fa fa-star colored' type="radio" name="rate" id="star1" value="1"><label for="star1"></label>
                                                <input class='fa fa-star colored' type="radio" name="rate" id="star2" value="2"><label for="star2"></label>
                                                <input class='fa fa-star colored' type="radio" name="rate" id="star3" value="3"><label for="star3"></label>
                                                <input class='fa fa-star colored' type="radio" name="rate" id="star4" value="4"><label for="star4"></label>
                                                <input class='fa fa-star colored' type="radio" name="rate" id="star5" value="5"><label for="star5"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="form-group">
                                        <textarea name="review" id="id_review" cols="20" rows="2" class="form-control" placeholder="Your Review"></textarea>
                                    </span><br>
                                    {% if user.is_authenticated %}
                                    <button class="btn btn-warning btn-block">Submit</button>
                                    {% else %}
                                    To Add your review <a href="{% url 'login' %}" class="">Login is required</a>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>

<script>
    var product = "{{ selected_product.id }}";
    document.getElementById('id_product').value = product;
</script>



{% endblock %}